
<form action="/" method="POST">
  <label>Nhập câu hỏi: </label>
  <input type="text" placeholder="Nhập câu hỏi" name="question" style="width: 400px;">
  <button>Gửi</button>
  <br><br>
  <label>Câu trả lời: <%= JSON.stringify(answer) %></label>

</form>
